input[type='text'], input[type='email'], input[type='password'], textarea {
	outline: none;
}

.mb-3 {
	margin-bottom: 30px;
} 
body, html {
	margin: 0;
} 
.flex {
	&--center {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
} 

@import 'utilities/container';
@import 'FormPage'